doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet', href='/materialize/dist/css/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/materialize/dist/js/materialize.js')
    script(src='/javascripts/mynav.js')
    block jscripts



  body
    nav
      #nav-wrapper
        a(class='brand-logo left hide-on-med-and-down' href='#' )
          img(src='/images/_logo.png')
          
        a(class='brand-logo right hide-on-large-only' href='#' ) 
          img(src='/images/_logo.png') 
        a(class='button-collapse' data-activates='mobmenu' href='#')
          i(class='material-icons right') menu
        ul(class='right hide-on-med-and-down' id='nav-mobile')
          li
            a(href='cadastro') Sobre
          li
            a(href='#') Scada
          li
            a(href='#') MES
          li
            a(href='#') PIMS
          li
            a(href='#') WMS
          li
            a(href='#') IoT
          li
            a(href='#') Suporte
   
    ul(class='side-nav' id='mobmenu')
          li
            a(href='cadastro') Sobre
          li
            a(href='#') Scada
          li
            a(href='#') MES
          li
            a(href='#') PIMS
          li
            a(href='#') WMS
          li
            a(href='#') IoT
          li
            a(href='#') Suporte
    block content
